doctype html
html(ng-app="Apponte")
	head
		title=title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/reset.css')
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700")
	body
		block content
	script(src="javascripts/apponte.js")

	

